* {
    box-sizing: border-box;
}

body {
    background: greenyellow;
    padding: 0;
    margin: 0;
}

.timerSec {
    margin: 10px;
}

.startBtn {
    display: flex;
    flex: flex-wrap;
    justify-content: center;
}

#quizBox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 550px;
    max-width: 80%;
    height: 550px;
    background: white;
    border-radius: 5px;
    padding:10px;
    box-shadow: 0 0 10px 2px;
    margin: auto;  
}

#scoreTitle {
    border: 3px solid;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    background-color: white;
    width: 100px;
    height: 35px;
  }

#scoreBox {
    border: 3px solid;
    position: absolute;
    top: 26%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    background-color: white;
    width: 100px;
    height: 35px;
    text-align: center;
}

#initialsBox {
    position: absolute;
    top: 32%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.resultsBox1 {
    position: absolute;
    top: 26%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    width: 150px;
    height: 50px;
    text-align: center; 
}

.resultsBox2 {
    border: 3px solid;
    position: absolute;
    top: 32%;
    left: 50%;
    padding: 10px;
    width: 100px;
    height: 50px;
    text-align: center; 
}


.buttons {
    display: table-column;
    grid-template-columns: repeat(2, auto);
    margin: 20px;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.start {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none;
}
